[build-system]
requires = [ "poetry-core>=1.0.0",]
build-backend = "poetry.core.masonry.api"

[tool.poetry]
name = "rcmt"
version = "0.4.0"
description = ""
license = "GPL-3.0-only"
authors = [ "Markus Meyer <hydrantanderwand@gmail.com>",]
readme = "README.md"
repository = "https://github.com/wndhydrnt/rcmt"
documentation = "https://rcmt.readthedocs.io/"

[tool.black]
line-length = 88

[tool.isort]
profile = "black"
multi_line_output = 3

[tool.mypy]
ignore_missing_imports = true

[tool.poetry.dependencies]
python = "^3.9"
PyYAML = ">=5.4.1,<7.0.0"
PyGithub = "^1.55"
GitPython = "^3.1.18"
pydantic = "^1.8.2"
structlog = "^21.1.0"
mergedeep = "^1.3.4"
toml = "^0.10.2"
click = "^8.0.1"
colorama = "^0.4.4"
python-gitlab = ">=2.10,<4.0"

[tool.poetry.dev-dependencies]
black = "21.6b0"
isort = "5.9.1"
pytest = "^6.2.5"
mypy = "0.910"
types-toml = "^0.10.3"
types-PyYAML = "^6.0.3"
Sphinx = "^4.4.0"
flake8 = "^4.0.1"
sphinx-rtd-theme = "^1.0.0"
sphinx-autodoc-typehints = "^1.15.2"

[tool.poetry.scripts]
rcmt = "rcmt.cli:main"

[tool.coverage.run]
command_line = "-m pytest"
omit = [ ".venv/*", "tests/*",]
source = [ ".",]

[tool.poetry.dev-dependencies.coverage]
extras = [ "toml",]
version = "5.5"
